In [10]:
# 1.Write a code to reverse a string
word = input("Enter the word :")
reverse_word = word[::-1]
print(reverse_word)

Enter the word :harsha
ahsrah

In [14]:
# 2.Write a code to count the number of vowels in a string
word = input("Enter thr word :")
vowels = "aeiouAEIOU"
count =0
for i in word:
  if i in vowels:
    count= count +1
print(count)

Enter thr word :malyalum
3

In [13]:
# 3. Write a code to check if a given string is a palindrome or not

word = input("Enter the word :")
reverse_word = word[::-1]

if word == reverse_word:
  print("The word ",word," is palindrome")
else:
  print("The word ",word," is not palindrome")

Enter the word :krish
The word  krish  is not palindrome

In [17]:
# 4. Write a code to check if two given strings are anagrams of each other.

word1 = input("Enter the word1 :")
word2 = input("Enter the word2 :")

if sorted(word1)==sorted(word2):
  print("The given strings are anagrams of each other.")
else:
  print("The given strings are not anagrams of each other.")

Enter the word1 :hjkas
Enter the word2 :jaskj
The given strings are not anagrams of each other.

In [20]:
# 5.Write a code to find all occurrences of a given substring within another string
text = input("Enter the main string: ")
substring = input("Enter the substring to search for: ")

occurrences = []
start = 0

while True:
    start = text.find(substring, start)
    if start == -1:
        break
    occurrences.append(start)
    start += 1

print("Occurrences ", occurrences)

Enter the main string: pwskills
Enter the substring to search for: s
Occurrences  [2, 7]

In [64]:
# 6.Write a code to perform basic string compression using the counts of repeated characters
text= input("Enter text :")
compressed = ""
c =1
for i in range(1,len(text)):
  if text[i]==text[i-1]:
    c=c+1
  else:
    compressed += text[i-1] + str(c)
    c=1
compressed+=text[-1] +str(c)

print("Compressed text :",compressed)

Enter text :aaaaahhhhhhhhh
Compressed text : a5h9

In [36]:
# 7.Write a code to determine if a string has all unique characters

string = input("Enter string :")
string =sorted(string)
flag =0
for i in range(0,len(string)-1):
  if string[i]==string[i+1]:
    print("String has duplicates in it.")
    flag = 1
    break
if flag==0:
  print("String has all unique characters")

Enter string :krish
String has all unique characters

In [37]:
 # 8.Write a code to convert a given string to uppercase or lowercase
word = input("Enter string")
string_lower = word.lower()
string_upper = word.upper()
print("The string in upper case : ",string_upper)
print("The string in lower case : ",string_lower)

Enter stringDRVGYBHJK,klfjhkgbdjx
The string in upper case :  DRVGYBHJK,KLFJHKGBDJX
The string in lower case :  drvgybhjk,klfjhkgbdjx

In [39]:
# 9.Write a code to count the number of words in a string

word =input("Enter String :")

words_list = word.split(' ')
print("The number of words present in the string :",len(words_list))

Enter String :Write a code to count the number of words in a string
The number of words present in the string : 12

In [2]:
# 10.Write a code to concatenate two strings without using the + operator
s1=input("Enter string1 :")
s2=input("Enter string2 :")
concat_string="{}{}"
print("The concat string is :",concat_string.format(s1,s2))

Enter string1 :nani
Enter string2 :nani
The concat string is : naninani

In [6]:
# 11.Write a code to remove all occurrences of a specific element from a list
list = [1,2,3,4,5,6,6,7,6, 6, 7, 7, 7, 8, 8, 8, 8]
print(list)
element = int(input("Enter element to remove :"))
while element in list:
  list.remove(element)
print(list)

[1, 2, 3, 4, 5, 6, 6, 7, 6, 6, 7, 7, 7, 8, 8, 8, 8]
Enter element to remove :7
[1, 2, 3, 4, 5, 6, 6, 6, 6, 8, 8, 8, 8]

In [67]:
 # 12. Implement a code to find the second largest number in a given list of integers
 list =[1,2,3,4,5,6,6,8,9,10,11,11,11,11]
 list = sorted(list,reverse=True)
 for i in range(1,len(list)):
  if list[i]!=list[i-1]:
    print("The second largest element is :",list[i])
    break

The second largest element is : 10

In [68]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

list = [1,2,3,4,5,6,6,7,6, 6, 7, 7, 7, 8, 8, 8, 8]
d ={}
for i in list:
  if i in d:
    d[i] = d[i]+1
  else:
    d[i] =1
print(d)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 4, 7: 4, 8: 4}

In [20]:
# 14. Write a code to reverse a list in-place without using any built-in reverse functions
list = [1,2,3,4,5,6,6,7,6, 6, 7, 7, 7, 8, 8, 8, 8]
reverse_list=[]
for i in range(len(list)-1,-1,-1):
  reverse_list.append(list[i])
print(reverse_list)

[8, 8, 8, 8, 7, 7, 7, 6, 6, 7, 6, 6, 5, 4, 3, 2, 1]

In [25]:
# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements
list = [1,2,3,4,5,6,6,7,6, 6, 7, 7, 7, 8, 8, 8, 8]
res=[]

for i in list:
  if i not in res:
    res.append(i)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
list = [1,23,4354,12,56,78]
asend = sorted(list)
desend = sorted(list,reverse=True)
if(list ==asend or list==desend):
  print("The list is sorted")
else:
  print("The list is not sorted")

The list is not sorted

In [30]:
# 17. Write a code to merge two sorted lists into a single sorted list
list1 = [2,3,4,8]
list2 = [5,6,9,10,12]
result= []
i,j = 0,0

while i<len(list1) and  j <len(list2):
  if list1[i] <list2[j]:
    result.append(list1[i])
    i+=1
  else:
    result.append(list2[j])
    j+=1
result.extend(list1[i:])
result.extend(list2[j:])
print(result)

[2, 3, 4, 5, 6, 8, 9, 10, 12]

In [31]:
# 18. Implement a code to find the intersection of two given lists
list1 = [1,2,3,4,5]
list2 =[3,4,5,6,7,8]
intersection =set()
for i in list1:
  if i in list2:
    intersection.add(i)
print("intersection of two lists: ",intersection)

intersection of two lists:  {3, 4, 5}

In [32]:
# 19.Create a code to find the union of two lists without duplicates
list1 = [1,2,3,4,5]
list2 =[3,4,5,6,7,8]
union = set()
for i in list1:
  union.add(i)

for i in list2:
  union.add(i)

print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# 20.Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random
list=[1,2,3,4,5,6,7,8,9,10]

for i in range(len(list)-1,0,-1):
  j = random.randint(0,i)
  list[i],list[j]= list[j],list[i]
print("The shuffled list :",list)

The shuffled list : [8, 4, 7, 10, 1, 3, 6, 9, 5, 2]

In [15]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
t1 = tuple(map(int,input("Enter elements tuple 1 separetd by space :").split()))
t2 = tuple(map(int,input("Enter elements tuple 2 separetd by space :").split()))

result = tuple( set(t1) & set(t2) )
print("The common elements in both tuples ",result)

Enter elements tuple 1 :1 2 3
Enter elements tuple 2 :1 2 7
The common elements in both tuples  (1, 2)

In [19]:
# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
s1 = set(map(int,input("Enter elements set 1 separated by comma:").split(',')))
s2 = set(map(int,input("Enter elements set 2 separated by comma:").split(',')))

print("The intersection of two sets is :",s1.intersection(s2))

Enter elements set 1 :1,2,3,4,5,6,7,8
Enter elements set 2 :5,6,7,8,4
The intersection of two sets is : {4, 5, 6, 7, 8}

In [22]:
# 23 . Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
t1 = tuple(map(int,input("Enter elements tuple 1 separetd by space :").split()))
t2 = tuple(map(int,input("Enter elements tuple 2 separetd by space :").split()))
result = t1 + t2
print("The elements in both tuples ",result)

Enter elements tuple 1 :1 2 3 4
Enter elements tuple 2 :2 3 4 4 7
The elements in both tuples  (1, 2, 3, 4, 2, 3, 4, 4, 7)

In [24]:
# 24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set&
s1 = set(map(str,input("Enter strings set 1 separated by comma:").split(',')))
s2 = set(map(str,input("Enter strings set 2 separated by comma:").split(',')))
print("the elements that are present in the first set but not in the second set are :",s1.difference(s2))

Enter strings set 1 separated by comma:a,b,c,d
Enter strings set 2 separated by comma:c,d,g
the elements that are present in the first set but not in the second set are : {'a', 'b'}

In [25]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices
t1 = tuple(map(int,input("Enter elements tuple 1 separetd by space :").split()))
ind1 = int(input("Enter the index 1 :"))
ind2 = int(input("Enter the index 2 :"))
print(t1[ind1:ind2+1])

Enter elements tuple 1 separetd by space :1 2 3 4 5 6 7 8 9 10
Enter the index 13
Enter the index 26
(4, 5, 6, 7)

In [26]:
# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
s1 = set(map(str,input("Enter strings set 1 separated by comma:").split(',')))
s2 = set(map(str,input("Enter strings set 2 separated by comma:").split(',')))
print("The union of two sets :",s1.union(s2))

Enter strings set 1 separated by comma:a,c,b,s,f,g,r,wws,f,f
Enter strings set 2 separated by comma:a,c,f,t
The union of two sets : {'g', 'f', 'b', 'a', 's', 'c', 'r', 't', 'wws'}

In [27]:
# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
t1 = tuple(map(int,input("Enter elements tuple 1 separetd by space :").split()))
print("The maximum value :",max(t1))
print("The minimum value :",min(t1))

Enter elements tuple 1 separetd by space :1 2 3 4 5 6 7 8 9
The maximum value : 9
The minimum value : 1

In [28]:
# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
s1 = set(map(int,input("Enter elements set 1 separated by comma:").split(',')))
s2 = set(map(int,input("Enter elements set 2 separated by comma:").split(',')))
print("The union of two sets is :",s1.union(s2))
print("The intersection of two sets is :",s1.intersection(s2))
print("The difference of two sets is :",s1.difference(s2))

Enter elements set 1 separated by comma:1,2,3,4,5,6
Enter elements set 2 separated by comma:3,4,5,6,7,8,9
The union of two sets is : {1, 2, 3, 4, 5, 6, 7, 8, 9}
The intersection of two sets is : {3, 4, 5, 6}
The difference of two sets is : {1, 2}

In [30]:
# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple
t1 = tuple(map(str,input("Enter elements tuple 1 separetd by space :").split()))
element = input("Enter the elment :")
print("The count of occurrences of the given element in the tuple :",t1.count(element))

Enter elements tuple 1 separetd by space :1 2 3 4
Enter the elment :4
The count of occurrences of the given element in the tuple : 1

In [31]:
# 30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets
s1 = set(map(str,input("Enter strings set 1 separated by comma:").split(',')))
s2 = set(map(str,input("Enter strings set 2 separated by comma:").split(',')))
print("The symmetric difference of two sets :",s1.symmetric_difference(s2))

Enter strings set 1 separated by comma:1,2,3,4,5,6,7
Enter strings set 2 separated by comma:5,6,7,8,9
The symmetric difference of two sets : {'2', '3', '9', '8', '1', '4'}

In [37]:
# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
t1 = input("Enter the words separated by space").split(' ')
d = {}

for i in t1:
  d[i]= t1.count(i)
print(d)

Enter the words separated by spacea a a a a a a a a  e e e e e
{'a': 9, '': 1, 'e': 5}

In [44]:
# 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together&
d1 = {}
num_entries = int(input("How many key-value pairs do you want to enter? "))

for _ in range(num_entries):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    d1[key] = value

d2 = {}
num_entries = int(input("How many key-value pairs do you want to enter? "))

for _ in range(num_entries):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    d2[key] = value

result = d1.copy()

for key,value in d2.items():
  if key in d1:
    result[key]+=value
  else:
    result[key] = value
print(result)

How many key-value pairs do you want to enter? 1
Enter key: a
Enter value: 2
How many key-value pairs do you want to enter? 2
Enter key: a
Enter value: 5
Enter key: b
Enter value: 8
{'a': 7, 'b': 8}

In [58]:
# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
# function should return None&

def get_nested_value(d, keys):
    for key in keys:
        if key in d:
            d = d[key]
        else:
            return None
    return d


nested_dict = {
    'a': {
        'b': {
            'c': 10,
            'd': 20
        },
        'e': 30
    },
    'f': 40
}

keys = ['a', 'b', 'c']
result = get_nested_value(nested_dict, keys)
print(result)

keys = ['a', 'b', 'x']
result = get_nested_value(nested_dict, keys)
print(result)

10
None

In [57]:
# 34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order
d1 = {}
num_entries = int(input("How many key-value pairs do you want to enter? "))

for _ in range(num_entries):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    d1[key] = value

order = input("Enter asc or desc: ").strip().lower()

if order == "asc":
    sorted_items = sorted(d1.items(), key=lambda item: item[1])
elif order == "desc":
    sorted_items = sorted(d1.items(), key=lambda item: item[1], reverse=True)
else:
    print("Invalid order. Sorting in ascending order by default.")
    sorted_items = sorted(d1.items(), key=lambda item: item[1])

# Printing as a sorted list of tuples
print("Sorted items:", sorted_items)

How many key-value pairs do you want to enter? 2
Enter key: a
Enter value: 10
Enter key: b
Enter value: 1
Enter asc or desc: asc
Sorted items: [('b', 1), ('a', 10)]

In [61]:
# 35. & Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary


d = {
    'a': 10,
    'b': 20,
    'c': 10,
    'd': 30,
    'e': 20
}

invert_dict={}

for key,value in d.items():
  if value in invert_dict:
    invert_dict[value].append(key)
  else:
    invert_dict[value] = [key]
print(invert_dict)

{10: ['a', 'c'], 20: ['b', 'e'], 30: ['d']}

In [ ]:
|